@import "utilities/variables";

@import "base/mapas";
@import "base/mixin";
@import "base/extend";

header{
    background-color: $color-fondo-header;
    @extend %flex-header;
    h1{
        text-align: center;
        font-weight: map-get($map: $weight-fuentes , $key: titulos );
    }
    nav{
        ul{
            list-style: none;
            li{
                font-weight: map-get($map: $weight-fuentes , $key: texto-menu );
                background-color: $color-fondo-menu;
                padding: 5px;
                display: inline-block;
                transition: all 0.5s ease-out;
                :hover,
                :focus{
                    background-color: $color-hover-menu;
                }
            }
        }
    }
}

.main-index{
    @include grid-main-index;
    .ultimo-partido{
        grid-area: ultimo-partido;
        text-decoration: underline;
        font-size: x-large;
    }
    .fixture-proxima{
        grid-area: fixture-proxima;
        font-size: x-large;
        text-decoration: underline;
        .imagen-fecha{
            max-width: 100%;
        }
    }
    

}

.footer{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f4f7f6;
    border: 3px solid black;
    margin-top: 500px;
    overflow: hidden;
    footer{
        @extend %flex-footer;
        .caja-direccion{
            text-align: right;
        }
        h3{
            color: $color-titulos;
            text-decoration: underline;
            font-weight: map-get($map: $weight-fuentes , $key: titulos );
        }
        h4{
            color: $color-titulos;
            text-decoration: underline;
            font-weight: map-get($map: $weight-fuentes , $key: titulos );
        }
    } 

}

.container-fluid{

    h2{
        text-decoration: underline;
    }

}

.rutinas{
    top: 50px;
    margin: 25px;
    .rutina-1, .rutina-2{
        h4{
            text-decoration: underline;
        }
        p{
            font-weight: bold;
        }
    }
    
}

.main-partidos{
    margin: 10px;
    @include grid-main-partidos;
    h2{
        grid-area: titulo-partidos;
        color: $color-titulos;
        text-decoration: underline;
        font-weight: map-get($map: $weight-fuentes , $key: titulos );
    }
    
    p{
        grid-area: parrafo-partidos;
    }
    
    ol{
        grid-area: videos-partidos;
    }
    .partidos{
        margin: 10px;
         border: 3px solid black ;
        display: flex;
        justify-content: center;
        align-items: center;
        .partido-1, .partido-2{
            padding: 50px;
        }
        
    }
}

.lista-links{
    list-style: circle black;
    margin: 30px;
}

main{
    section{
        
        ul{
            list-style: none;
            
        }
        .info-contacto{
            //list-style: none;
            border: 3px solid black;
            margin: 50px;
            padding: 10px;
        }
    }
    .formulario{
        border: 3px solid black; 
        margin: 50px;
        padding: 10px; 
    }
}

/* mediaqueries */

@media screen and (min-width:375px) and (max-width:799px){
    header h1{
        font-size: 1rem;
                
    }
    
    footer{
        flex-direction: column;
        align-items: center;
        padding: 8px;
    }

    nav ul{
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    .main-index{
        display: flex;
        flex-direction: column;
    }
    div section iframe{
        width: 100%;
    }

    .partidos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main ol div iframe{
        width: 100%;
    }
    .container{
        width: auto;
    }
}