

@mixin grid-main-index {
    height: 80vh;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: 1fr;

    grid-template-areas: 
        "ultimo-partido fixture-proxima "
           
    ;
    justify-content: center;
    justify-items: center;
    align-items: start;
    margin-top: 100px;
    
}